<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mylomir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mylomir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Mylomir.Properties.Settings>
            <setting name="passwordAdmin" serializeAs="String">
                <value />
            </setting>
        </Mylomir.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Mylomir.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>10.207.106.12</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>user22</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>kk94</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>db22</value>
            </setting>
            <setting name="loginAdmin" serializeAs="String">
                <value>admin</value>
            </setting>
        </Mylomir.Properties.Settings>
    </applicationSettings>
</configuration>